/* -----------------Lyrics Macro-----------------------*/
#content table.lyrics {
  border: 0px;
  display: inline;
  border-collapse: separate;
}

td.lyrics_chords {
  border: 0px;
  padding: 0px;
  border-spacing: 0px;
  /*color: #FFCC00;*/
  font-size: 12px;
  font-weight: bold;	
}

td.lyrics_verses {
  border: 0px;
  border-spacing: 0px;
  padding: 0px;
  white-space: nowrap;
}

.lyrics_capo {
  font-style: italic;	
  float:left;	
 /*position:relative;
  top:80px;*/
}

.lyrics_info {
  float:right;	
  position:relative;
  top:30px;
}

.lyrics_score {
  float:left;	
  /*position:relative;
  top:80px;*/
}

.lyrics_comment {
  font-style: italic;
  background-color: #ffffff;
  border-spacing: 0px;
  padding: 0px;
  border: 0px;
}

.lyrics_artist {
  font-style: italic;	
  font-weight: bold;
  float:left;	
  /*position:relative;
  top:80px;*/
}

.pagebreak { 
  page-break-before: always;
}

div.lyrics_chorus {
  position:relative;
  left:50px;	
  display: inline-block;
}

@media print 
{
  #contentcolumn .main {
     margin: auto;
  }

  #hierarchy, #document-info, #xwikidata, #xdocAuthors, #_comments, #xdocTags, #xdocFooter, #headerglobal {
     display:none;
  }

  .noPrint
    {
     display:none;
  }
}